@import './inputs.css';
@import './colors.css';
@import './themes/index.css';

/*
=============== 
#Variables
===============
*/
:root {
	/* animation */
	--fade-time: 14s;

	/* misc. */
	--border-radius: 6px;
	--max-width: 72rem;

	/* text */
	--line-height: 1.5;

	/* z-indexes */
	--z-index-overlay: 999;
}

/*
=============== 
#Animations
===============
*/
@keyframes color-fade {

	0%,
	100% {
		background-color: #b5c6ff;
	}

	25% {
		background-color: #dbb5ff;
	}

	50% {
		background-color: #cce1a0;
	}

	75% {
		background-color: #e1a0a0;
	}
}

@keyframes dark-color-fade {

	0%,
	100% {
		background-color: var(--clr-dark-blue);
	}

	25% {
		background-color: var(--clr-dark-purple);
	}

	50% {
		background-color: var(--clr-dark-green);
	}

	75% {
		background-color: var(--clr-dark-red);
	}
}


/*
=============== 
#General
===============
*/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;

	/* prevent dragging of app elements which would trigger with the app's drag
		and drop functionality that is reserved solely for user images */
	user-select: none;
}

html {
	font-size: 18px;
	position: relative;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--theme-text);
	font-family: sans-serif;
	font-size: calc(.65rem + .75vmin);
	line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.25;
	margin-bottom: 1rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 0.875rem;
}

p {
	margin-bottom: .5rem;
}

noscript p {
	border: 2px solid var(--clr-red);
	border-radius: var(--border-radius);
	margin: 1rem;
	padding: .5rem;
}

#page-cover {
	background-color: var(--theme-bg-primary);
	height: 100vh;
	position: fixed;
	width: 100vw;
	z-index: 99998;
}

.logo {
	background-image: var(--theme-logo-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: min(calc(1rem + 7vmin), 2.5rem);
	text-align: center;
}

/*
=============== 
#Containers
===============
*/
main {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 40rem;
	position: relative;
}

@media screen and (min-width: 992px) and (orientation: landscape),
screen and (min-height: 992px) and (orientation: portrait) {
	body {
		animation: dark-color-fade var(--fade-time) infinite ease-in-out;
	}

	main {
		animation: color-fade var(--fade-time) infinite ease-in-out;
	}
}

#main-gradient {
	background-image: linear-gradient(180deg, transparent, #000a 80%);
	height: 100%;
	opacity: 1;
	position: absolute;
	width: 100%;
}

footer {
	color: var(--clr-white);
	padding: 2.5rem 0;
	text-align: center;
}

#app-container {
	background-color: var(--theme-bg-primary);
	border-radius: var(--theme-border-radius);
	box-shadow: 0 0 10px var(--clr-black) inset, -10px 10px 20px var(--clr-black);
	margin: 2rem 0;
	max-width: 52rem;
	width: 100%;
	z-index: 1;
}

#app-container header {
	margin: 0 1.5rem;
}

.options-bar {
	background-color: var(--theme-options-bg);
	color: var(--theme-options-text);
	display: flex;
	justify-content: flex-end;
	padding: .5rem;
}